.nav-item{
    margin-right: 30px;
}
.fist .rounded {
    width: 80%;
}
section{
    margin-top:50px;
}
.new p{
    color:rgb(139, 6, 139);
    font-size:25px;
}
.new h2{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
body{
    font-family: 'Ephesis', cursive;
}
.nav-item{
    font-size:50px
}
.card-img-top{
    height: 300px;
}
.tab-content{
    margin-top: 30px;
}
.contact .container-fluid{
    background-color: brown;
    color:white

}
.contact .container-fluid .container{
    padding: 30px;
}
.btn-lg{
    margin-top: 200px;
}
.col-form-label{
    color:black

}
.card-header .btn-link{
    color:black
}
footer .container-fluid{
    background-color: black;
    color:white;
}
.address{
    margin-top:30px;
   
    padding-top:40px;

}
.new{
    list-style: none;
}
.address li{
    padding:10px;

}
.new li .fa{
margin-right: 20px;
}
.social{
    list-style-type: none;
}
.social li{
    display: inline;
}
.social li .fa{
    background-color: palevioletred;
    color:white;
    padding: 30px;
}
ul{
    list-style-type: none;
   
}
.card-body .card-title{
    text-align: center;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.card-text{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row .content5{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.card-body{
    font-family: 'Times New Roman', Times, serif;
}
.card .btn{
     font-size: medium;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-weight: bold;
     margin-left: 50%;
}
.us{
    font-size: 25px;
    margin-top: 110px;
    margin-left: 25px;

}
footer{
    margin-top: 50px;
}
form{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.form-check-label{
    color: black;
}
 .form-group  .btn{
    text-align: center;
    margin-left: 120%;
    border-radius: 40px 0px;
    border-color: red;
    border: 50px;
}